* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.Top {
  width: 50ch;
  text-align: center;
}

main {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.Top h1 {
  font-size: 6rem;
  font-weight: 400;
}

.Top h2 {
  font-size: 4rem;
  font-weight: 400;
}

.mother h2 {
  font-size: 4rem;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;

}

.map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 250px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Phone {
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3C5BB;
  padding: 50px;
  border-radius: 20px;
}

.circle{
  width: 50%;
  display: flex;
  justify-content: space-between;
}